In [1]:
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('~/GalvanizeJupyter/universities.csv')

In [3]:
df

,name,address,Website,Type,Size
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0
...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0

In [20]:
s1=df.address.str.split(" ").str[-2]
s2=s1.str.split(",").str[-1]

In [21]:
s2

0            Missouri
1               Texas
2             Georgia
3           Minnesota
4             Florida
            ...
2902       California
2903         Nebraska
2904     Pennsylvania
2905             Ohio
2906    Massachusetts
Name: address, Length: 2907, dtype: object

In [23]:
df.address.str.split(" ").str[-2]

0            Missouri
1               Texas
2             Georgia
3           Minnesota
4             Florida
            ...
2902       California
2903         Nebraska
2904     Pennsylvania
2905             Ohio
2906    Massachusetts
Name: address, Length: 2907, dtype: object

In [24]:
df.address.str.split(" ").str[-1]

0            63501
1            79699
2       31793-2601
3       55420-1554
4            32601
           ...
2902         90066
2903    68467-2699
2904    17403-3651
2905    44555-0001
2906         01835
Name: address, Length: 2907, dtype: object

In [26]:
c=df.address.str.split(" ").str[-3]
c

0        Kirksville,
1           Abilene,
2            Tifton,
3       Minneapolis,
4       Gainesville,
            ...
2902        Angeles,
2903           York,
2904           York,
2905     Youngstown,
2906      Haverhill,
Name: address, Length: 2907, dtype: object

In [28]:
c.str.split(",").str[-2]

0        Kirksville
1           Abilene
2            Tifton
3       Minneapolis
4       Gainesville
           ...
2902        Angeles
2903           York
2904           York
2905     Youngstown
2906      Haverhill
Name: address, Length: 2907, dtype: object

In [31]:
c=df.address.str.split(",").str[-2]

0         Kirksville
1            Abilene
2             Tifton
3        Minneapolis
4        Gainesville
            ...
2902     Los Angeles
2903            York
2904            York
2905      Youngstown
2906       Haverhill
Name: address, Length: 2907, dtype: object

In [33]:
df.Type.str.split(",",expand = True,)

           0                        1                    2
0     4-year   Private not-for-profit                 None
1     4-year   Private not-for-profit                 None
2     4-year    primarily associate's               Public
3     4-year    primarily associate's   Private for-profit
4     4-year   Private not-for-profit                 None
...      ...                      ...                  ...
2902  4-year   Private not-for-profit                 None
2903  4-year   Private not-for-profit                 None
2904  4-year   Private not-for-profit                 None
2905  4-year                   Public                 None
2906  4-year   Private not-for-profit                 None

[2907 rows x 3 columns]

In [34]:
df.Type.str.split(" ",expand = True,)

            0          1               2        3           4
0     4-year,    Private  not-for-profit     None        None
1     4-year,    Private  not-for-profit     None        None
2     4-year,  primarily    associate's,   Public        None
3     4-year,  primarily    associate's,  Private  for-profit
4     4-year,    Private  not-for-profit     None        None
...       ...        ...             ...      ...         ...
2902  4-year,    Private  not-for-profit     None        None
2903  4-year,    Private  not-for-profit     None        None
2904  4-year,    Private  not-for-profit     None        None
2905  4-year,     Public            None     None        None
2906  4-year,    Private  not-for-profit     None        None

[2907 rows x 5 columns]

In [40]:
pop=df.Type.str.contains('Private')

In [44]:
df['Private_or_Public'] = ["Private" if x ==True else "Public" for x in df.Type.str.contains('Private')] 
  
# Print the DataFrame 
df

,name,address,Website,Type,Size,Private_or_Public
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Private
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Private
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Public
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Private
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Private
...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,Private
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,Private
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,Private
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,Public
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,Private

In [49]:
df.iloc[:,3].head(30)

0                        4-year, Private not-for-profit
1                        4-year, Private not-for-profit
2                 4-year, primarily associate's, Public
3     4-year, primarily associate's, Private for-profit
4                        4-year, Private not-for-profit
5                            4-year, Private for-profit
6                        4-year, Private not-for-profit
7                            4-year, Private for-profit
8                        4-year, Private not-for-profit
9                        4-year, Private not-for-profit
10    4-year, primarily associate's, Private for-profit
11                                       4-year, Public
12                       4-year, Private not-for-profit
13                       4-year, Private not-for-profit
14                       4-year, Private not-for-profit
15                       4-year, Private not-for-profit
16                       4-year, Private not-for-profit
17                           4-year, Private for-profit
18    4-year, primarily associate's, Private not-for...
19                                       4-year, Public
20                                       4-year, Public
21                                       4-year, Public
22                       4-year, Private not-for-profit
23                       4-year, Private not-for-profit
24                       4-year, Private not-for-profit
25                       4-year, Private not-for-profit
26                                       4-year, Public
27                       4-year, Private not-for-profit
28                       4-year, Private not-for-profit
29                       4-year, Private not-for-profit
Name: Type, dtype: object

In [50]:
df.Type.str.contains('not-for-profit')
#df['Private_or_Public'] = ["Private" if x ==True else "Public" for x in df.Type.str.contains('Private')]

0        True
1        True
2       False
3       False
4        True
        ...
2902     True
2903     True
2904     True
2905    False
2906     True
Name: Type, Length: 2907, dtype: bool

In [51]:
df.Type.str.contains('for-profit')

0        True
1        True
2       False
3        True
4        True
        ...
2902     True
2903     True
2904     True
2905    False
2906     True
Name: Type, Length: 2907, dtype: bool

In [54]:
df['Profit'] = ["not-for-profit" if x ==True in df.Type.str.contains('not-for-profit') if "for-profit" x==True in df.Type.str.contains('for-profit') else Null]

SyntaxError: invalid syntax (<ipython-input-54-5ba7e9aa3ffd>, line 1)

In [75]:
df['Profit']=None

In [76]:
df

,name,address,Website,Type,Size,Private_or_Public,Profit
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Private,None
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Private,None
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Public,None
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Private,None
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Private,None
...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,Private,None
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,Private,None
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,Private,None
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,Public,None
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,Private,None

In [83]:
df['Profit'] = ["not-for-profit" if x ==True else None for x in df.Type.str.contains('not-for-profit')]
df

,name,address,Website,Type,Size,Private_or_Public,Profit
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Private,not-for-profit
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Private,not-for-profit
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Public,None
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Private,None
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Private,not-for-profit
...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,Private,not-for-profit
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,Private,not-for-profit
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,Private,not-for-profit
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,Public,None
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,Private,not-for-profit

In [ ]:
#df['Private_or_Public'] = ["Private" if x ==True else "Public" for x in df.Type.str.contains('Private')]
df

In [78]:
df['Profit'] = ["for-profit" if x ==True else None for x in df.Type.str.contains('for-profit')]

In [79]:
df

,name,address,Website,Type,Size,Private_or_Public,Profit
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Private,for-profit
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Private,for-profit
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Public,None
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Private,for-profit
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Private,for-profit
...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,Private,for-profit
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,Private,for-profit
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,Private,for-profit
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,Public,None
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,Private,for-profit

In [81]:
df.head(30)

,name,address,Website,Type,Size,Private_or_Public,Profit
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Private,for-profit
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Private,for-profit
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Public,None
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Private,for-profit
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Private,for-profit
5,Academy of Art University,"79 New Montgomery, San Francisco, California 9...",www.academyart.edu,"4-year, Private for-profit",13181.0,Private,for-profit
6,Academy of Chinese Culture and Health Sciences,"1601 Clay St, Oakland, California 94612",www.acchs.edu,"4-year, Private not-for-profit",92.0,Private,for-profit
7,Academy of Oriental Medicine,"2700 W Anderson Ln Ste 204, Austin, Texas 78757",www.aoma.edu,"4-year, Private for-profit",207.0,Private,for-profit
8,Academy of Vocal Arts,"1920 Spruce St, Philadelphia, Pennsylvania 191...",www.avaopera.org,"4-year, Private not-for-profit",27.0,Private,for-profit
9,Acupuncture and Integrative Medicine College-B...,"2550 Shattuck Ave, Berkeley, California 94704",www.aimc.edu,"4-year, Private not-for-profit",181.0,Private,for-profit
10,Acupuncture and Massage College,"10506 N Kendall Drive, Miami, Florida 33176",WWW.AMCOLLEGE.edu,"4-year, primarily associate's, Private for-profit",131.0,Private,for-profit
11,Adams State College,"208 Edgemont Blvd, Alamosa, Colorado 81102",www.adams.edu,"4-year, Public",2920.0,Public,None
12,Adelphi University,"South Ave, Garden City, New York 11530-0701",WWW.ADELPHI.EDU,"4-year, Private not-for-profit",8177.0,Private,for-profit
13,Adler Graduate School,"1550 East 78th Street, Richfield, Minnesota 55423",www.alfredadler.edu,"4-year, Private not-for-profit",274.0,Private,for-profit
14,Adler School of Professional Psychology,"65 East Wacker Place, Suite 2100, Chicago, Ill...",www.adler.edu,"4-year, Private not-for-profit",639.0,Private,for-profit
15,Adrian College,"110 S Madison St, Adrian, Michigan 49221-2575",www.adrian.edu,"4-year, Private not-for-profit",1469.0,Private,for-profit
16,Agnes Scott College,"141 E. College Ave, Decatur, Georgia 30030-3797",www.agnesscott.edu,"4-year, Private not-for-profit",832.0,Private,for-profit
17,AI Miami International University of Art and D...,"1501 Biscayne Boulevard, Miami, Florida 33132-...",www.aimiu.aii.edu,"4-year, Private for-profit",3429.0,Private,for-profit
18,AIB College of Business,"2500 Fleur Drive, Des Moines, Iowa 50321-1799",www.aib.edu,"4-year, primarily associate's, Private not-for...",985.0,Private,for-profit
19,Air Force Institute of Technology-Graduate Sch...,"2950 Hobson Way-Wright Patterson AFB, Dayton, ...",www.afit.edu,"4-year, Public",773.0,Public,None
20,Alabama A & M University,"4900 Meridian St, Normal, Alabama 35762",www.aamu.edu/,"4-year, Public",5124.0,Public,None
21,Alabama State University,"915 S Jackson Street, Montgomery, Alabama 3610...",www.alasu.edu,"4-year, Public",5695.0,Public,None
22,Alaska Pacific University,"4101 University Dr, Anchorage, Alaska 99508",www.alaskapacific.edu,"4-year, Private not-for-profit",803.0,Private,for-profit
23,Albany College of Pharmacy and Health Sciences,"106 New Scotland Avenue, Albany, New York 1220...",www.acp.edu,"4-year, Private not-for-profit",1525.0,Private,for-profit
24,Albany Law School,"80 New Scotland Avenue, Albany, New York 12208",www.albanylaw.edu,"4-year, Private not-for-profit",784.0,Private,for-profit
25,Albany Medical College,"47 New Scotland Ave, Albany, New York 12208-0000",www.amc.edu,"4-year, Private not-for-profit",839.0,Private,for-profit
26,Albany State University,"504 College Dr., Albany, Georgia 31705",www.asurams.edu/,"4-year, Public",4176.0,Public,None
27,Albertus Magnus College,"700 Prospect St, New Haven, Connecticut 06511-...",www.albertus.edu,"4-year, Private not-for-profit",2129.0,Private,for-profit
28,Albion College,"611 E Porter St, Albion, Michigan 49224",www.albion.edu,"4-year, Private not-for-profit",1860.0,Private,for-profit
29,Albright College,"1621 N. 13th St., Reading, Pennsylvania 19612-...",www.albright.edu,"4-year, Private not-for-profit",2305.0,Private,for-profit

In [82]:
df.Type.str.contains('not')

0        True
1        True
2       False
3       False
4        True
        ...
2902     True
2903     True
2904     True
2905    False
2906     True
Name: Type, Length: 2907, dtype: bool

In [89]:
df['Profit'] = ["for-profit" if x ==False else 0 for x in df.Type.str.contains('not')]

SyntaxError: invalid syntax (<ipython-input-89-180a3e0cdad7>, line 1)

In [85]:
df

,name,address,Website,Type,Size,Private_or_Public,Profit
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Private,None
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Private,None
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Public,for-profit
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Private,for-profit
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Private,None
...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,Private,None
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,Private,None
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,Private,None
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,Public,for-profit
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,Private,None

In [119]:
def conditions(p):
    if 'not-for-profit' in p.Type:
        return "not-for-profit"
    elif ' for-profit' in p.Type:    
        return "for-profit"
    else:
        pass
    
    #df.Type.str.contains('not-for-profit')
    
    #df['Profit'] = ["not-for-profit" if x ==True else None for x in df.Type.str.contains('not-for-profit')]

In [103]:
#def conditions(p):
    #if df.Type.str.contains('not-for-profit'):
        #return "not-for-profit"
   # elif df.Type.str.contains('not'):    
   #     return "for-profit"
   # else:
    #    pass

In [120]:
df['Profit'] = df.apply(conditions, axis=1)
df

,name,address,Website,Type,Size,Private_or_Public,Profit,Primarily,primarily_associates
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Private,not-for-profit,0,0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Private,not-for-profit,0,0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Public,None,1,1
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Private,for-profit,1,1
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Private,not-for-profit,0,0
...,...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,Private,not-for-profit,0,0
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,Private,not-for-profit,0,0
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,Private,not-for-profit,0,0
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,Public,None,0,0
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,Private,not-for-profit,0,0

In [121]:
df.loc[df.Type.str.contains(' for-profit') & df.Type.str.contains('Private')]

,name,address,Website,Type,Size,Private_or_Public,Profit,Primarily,primarily_associates
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Private,for-profit,1,1
5,Academy of Art University,"79 New Montgomery, San Francisco, California 9...",www.academyart.edu,"4-year, Private for-profit",13181.0,Private,for-profit,0,0
7,Academy of Oriental Medicine,"2700 W Anderson Ln Ste 204, Austin, Texas 78757",www.aoma.edu,"4-year, Private for-profit",207.0,Private,for-profit,0,0
10,Acupuncture and Massage College,"10506 N Kendall Drive, Miami, Florida 33176",WWW.AMCOLLEGE.edu,"4-year, primarily associate's, Private for-profit",131.0,Private,for-profit,1,1
17,AI Miami International University of Art and D...,"1501 Biscayne Boulevard, Miami, Florida 33132-...",www.aimiu.aii.edu,"4-year, Private for-profit",3429.0,Private,for-profit,0,0
...,...,...,...,...,...,...,...,...,...
2825,Westwood College-Los Angeles,"3250 Wilshire Blvd Ste 400, Los Angeles, Calif...",www.westwood.edu,"4-year, Private for-profit",1090.0,Private,for-profit,0,0
2826,Westwood College-Northlake,"2309 Parklake Drive NE, Atlanta, Georgia 30345",www.westwood.edu,"4-year, primarily associate's, Private for-profit",488.0,Private,for-profit,1,1
2827,Westwood College-O'Hare Airport,"8501 W. Higgins Road Suite 100, Chicago, Illin...",www.westwood.edu,"4-year, Private for-profit",828.0,Private,for-profit,0,0
2828,Westwood College-River Oaks,"80 River Oaks Ctr-Ste 111, Calumet City, Illin...",www.westwood.edu,"4-year, primarily associate's, Private for-profit",722.0,Private,for-profit,1,1
2829,Westwood College-South Bay,"19700 S. Vermont Avenue, Suite 100, Torrance, ...",www.westwood.edu,"4-year, Private for-profit",778.0,Private,for-profit,0,0

In [101]:
#primarily assc

df['primarily_associates'] = [1 if x ==True else 0 for x in df.Type.str.contains('primarily associate')]

In [122]:
df

,name,address,Website,Type,Size,Private_or_Public,Profit,Primarily,primarily_associates
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Private,not-for-profit,0,0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Private,not-for-profit,0,0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Public,None,1,1
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Private,for-profit,1,1
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Private,not-for-profit,0,0
...,...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,Private,not-for-profit,0,0
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,Private,not-for-profit,0,0
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,Private,not-for-profit,0,0
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,Public,None,0,0
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,Private,not-for-profit,0,0

In [126]:
s1=df.address.str.split(" ").str[-2]
#state is between 2 spaces from the right?
s2=s1.str.split(",").str[-1]
df['state']=s2
df

,name,address,Website,Type,Size,Private_or_Public,Profit,Primarily,primarily_associates,state
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Private,not-for-profit,0,0,Missouri
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Private,not-for-profit,0,0,Texas
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Public,None,1,1,Georgia
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Private,for-profit,1,1,Minnesota
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Private,not-for-profit,0,0,Florida
...,...,...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,Private,not-for-profit,0,0,California
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,Private,not-for-profit,0,0,Nebraska
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,Private,not-for-profit,0,0,Pennsylvania
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,Public,None,0,0,Ohio
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,Private,not-for-profit,0,0,Massachusetts

In [130]:
df.groupby('state')['Size'].median()

state
Alabama          1693.0
Alaska           2954.0
Arizona          1059.0
Arkansas         1755.0
California        918.0
Carolina         1499.5
Colorado         1308.0
Columbia         1389.0
Connecticut      1957.0
Dakota           1180.0
Delaware         2883.5
Florida          1184.0
Georgia          1987.0
Guam             1768.0
Hampshire        1542.0
Hawaii           1140.0
Idaho            1939.0
Illinois         1277.0
Indiana          1286.0
Iowa             1361.0
Island           4609.0
Islands          2393.0
Jersey           3465.0
Kansas            634.0
Kentucky         1485.0
Louisiana        3048.5
Maine            1589.0
Marianas          791.0
Maryland         2079.0
Massachusetts    1697.0
Mexico            618.0
Michigan         2440.0
Minnesota         999.5
Mississippi      2492.0
Missouri          889.0
Montana          1313.0
Nebraska          904.0
Nevada           1301.0
Ohio             1673.0
Oklahoma         1919.0
Oregon           1152.0
Pennsylvania     2040.0
Rico             1724.0
Samoa            1806.0
Tennessee         940.0
Texas            2576.0
Utah              646.0
Vermont           731.0
Virginia         1350.0
Washington       1558.5
Wisconsin        2102.0
Wyoming           146.0
York             1626.0
Name: Size, dtype: float64

In [185]:
c1=df.address.str.split(",").str[-1].head(30)
c1
#c2=c1.str.extract('([A-Za-z]+)')
#c2

0               Missouri 63501
1                  Texas 79699
2           Georgia 31793-2601
3         Minnesota 55420-1554
4                Florida 32601
5             California 94105
6             California 94612
7                  Texas 78757
8      Pennsylvania 19103-6685
9             California 94704
10               Florida 33176
11              Colorado 81102
12         New York 11530-0701
13             Minnesota 55423
14              Illinois 60601
15         Michigan 49221-2575
16          Georgia 30030-3797
17          Florida 33132-1418
18             Iowa 50321-1799
19             Ohio 45433-7765
20               Alabama 35762
21          Alabama 36101-0271
22                Alaska 99508
23         New York 12208-3492
24              New York 12208
25         New York 12208-0000
26               Georgia 31705
27      Connecticut 06511-1189
28              Michigan 49224
29     Pennsylvania 19612-5234
Name: address, dtype: object

In [186]:
c2=c1.str.extract('([A-Za-z]+)')
c1

0               Missouri 63501
1                  Texas 79699
2           Georgia 31793-2601
3         Minnesota 55420-1554
4                Florida 32601
5             California 94105
6             California 94612
7                  Texas 78757
8      Pennsylvania 19103-6685
9             California 94704
10               Florida 33176
11              Colorado 81102
12         New York 11530-0701
13             Minnesota 55423
14              Illinois 60601
15         Michigan 49221-2575
16          Georgia 30030-3797
17          Florida 33132-1418
18             Iowa 50321-1799
19             Ohio 45433-7765
20               Alabama 35762
21          Alabama 36101-0271
22                Alaska 99508
23         New York 12208-3492
24              New York 12208
25         New York 12208-0000
26               Georgia 31705
27      Connecticut 06511-1189
28              Michigan 49224
29     Pennsylvania 19612-5234
Name: address, dtype: object

In [148]:
df.address.str.extract('([A-Za-z]+)')

            0
0           W
1      Campus
2       Moore
3           E
4          SE
...       ...
2902        W
2903        E
2904  Country
2905      One
2906    South

[2907 rows x 1 columns]

In [158]:
df.head(30)

,name,address,Website,Type,Size,Private_or_Public,Profit,Primarily,primarily_associates,state
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Private,not-for-profit,0,0,Missouri
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Private,not-for-profit,0,0,Texas
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Public,None,1,1,Georgia
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Private,for-profit,1,1,Minnesota
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Private,not-for-profit,0,0,Florida
5,Academy of Art University,"79 New Montgomery, San Francisco, California 9...",www.academyart.edu,"4-year, Private for-profit",13181.0,Private,for-profit,0,0,California
6,Academy of Chinese Culture and Health Sciences,"1601 Clay St, Oakland, California 94612",www.acchs.edu,"4-year, Private not-for-profit",92.0,Private,not-for-profit,0,0,California
7,Academy of Oriental Medicine,"2700 W Anderson Ln Ste 204, Austin, Texas 78757",www.aoma.edu,"4-year, Private for-profit",207.0,Private,for-profit,0,0,Texas
8,Academy of Vocal Arts,"1920 Spruce St, Philadelphia, Pennsylvania 191...",www.avaopera.org,"4-year, Private not-for-profit",27.0,Private,not-for-profit,0,0,Pennsylvania
9,Acupuncture and Integrative Medicine College-B...,"2550 Shattuck Ave, Berkeley, California 94704",www.aimc.edu,"4-year, Private not-for-profit",181.0,Private,not-for-profit,0,0,California
10,Acupuncture and Massage College,"10506 N Kendall Drive, Miami, Florida 33176",WWW.AMCOLLEGE.edu,"4-year, primarily associate's, Private for-profit",131.0,Private,for-profit,1,1,Florida
11,Adams State College,"208 Edgemont Blvd, Alamosa, Colorado 81102",www.adams.edu,"4-year, Public",2920.0,Public,None,0,0,Colorado
12,Adelphi University,"South Ave, Garden City, New York 11530-0701",WWW.ADELPHI.EDU,"4-year, Private not-for-profit",8177.0,Private,not-for-profit,0,0,York
13,Adler Graduate School,"1550 East 78th Street, Richfield, Minnesota 55423",www.alfredadler.edu,"4-year, Private not-for-profit",274.0,Private,not-for-profit,0,0,Minnesota
14,Adler School of Professional Psychology,"65 East Wacker Place, Suite 2100, Chicago, Ill...",www.adler.edu,"4-year, Private not-for-profit",639.0,Private,not-for-profit,0,0,Illinois
15,Adrian College,"110 S Madison St, Adrian, Michigan 49221-2575",www.adrian.edu,"4-year, Private not-for-profit",1469.0,Private,not-for-profit,0,0,Michigan
16,Agnes Scott College,"141 E. College Ave, Decatur, Georgia 30030-3797",www.agnesscott.edu,"4-year, Private not-for-profit",832.0,Private,not-for-profit,0,0,Georgia
17,AI Miami International University of Art and D...,"1501 Biscayne Boulevard, Miami, Florida 33132-...",www.aimiu.aii.edu,"4-year, Private for-profit",3429.0,Private,for-profit,0,0,Florida
18,AIB College of Business,"2500 Fleur Drive, Des Moines, Iowa 50321-1799",www.aib.edu,"4-year, primarily associate's, Private not-for...",985.0,Private,not-for-profit,1,1,Iowa
19,Air Force Institute of Technology-Graduate Sch...,"2950 Hobson Way-Wright Patterson AFB, Dayton, ...",www.afit.edu,"4-year, Public",773.0,Public,None,0,0,Ohio
20,Alabama A & M University,"4900 Meridian St, Normal, Alabama 35762",www.aamu.edu/,"4-year, Public",5124.0,Public,None,0,0,Alabama
21,Alabama State University,"915 S Jackson Street, Montgomery, Alabama 3610...",www.alasu.edu,"4-year, Public",5695.0,Public,None,0,0,Alabama
22,Alaska Pacific University,"4101 University Dr, Anchorage, Alaska 99508",www.alaskapacific.edu,"4-year, Private not-for-profit",803.0,Private,not-for-profit,0,0,Alaska
23,Albany College of Pharmacy and Health Sciences,"106 New Scotland Avenue, Albany, New York 1220...",www.acp.edu,"4-year, Private not-for-profit",1525.0,Private,not-for-profit,0,0,York
24,Albany Law School,"80 New Scotland Avenue, Albany, New York 12208",www.albanylaw.edu,"4-year, Private not-for-profit",784.0,Private,not-for-profit,0,0,York
25,Albany Medical College,"47 New Scotland Ave, Albany, New York 12208-0000",www.amc.edu,"4-year, Private not-for-profit",839.0,Private,not-for-profit,0,0,York
26,Albany State University,"504 College Dr., Albany, Georgia 31705",www.asurams.edu/,"4-year, Public",4176.0,Public,None,0,0,Georgia
27,Albertus Magnus College,"700 Prospect St, New Haven, Connecticut 06511-...",www.albertus.edu,"4-year, Private not-for-profit",2129.0,Private,not-for-profit,0,0,Connecticut
28,Albion College,"611 E Porter St, Albion, Michigan 49224",www.albion.edu,"4-year, Private not-for-profit",1860.0,Private,not-for-profit,0,0,Michigan
29,Albright College,"1621 N. 13th St., Reading, Pennsylvania 19612-...",www.albright.edu,"4-year, Private not-for-profit",2305.0,Private,not-for-profit,0,0,Pennsylvania

In [159]:
city=df.address.str.split(",").str[-2]
df['city']=city

In [160]:
df.head(30)

,name,address,Website,Type,Size,Private_or_Public,Profit,Primarily,primarily_associates,state,city
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Private,not-for-profit,0,0,Missouri,Kirksville
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Private,not-for-profit,0,0,Texas,Abilene
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Public,None,1,1,Georgia,Tifton
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Private,for-profit,1,1,Minnesota,Minneapolis
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Private,not-for-profit,0,0,Florida,Gainesville
5,Academy of Art University,"79 New Montgomery, San Francisco, California 9...",www.academyart.edu,"4-year, Private for-profit",13181.0,Private,for-profit,0,0,California,San Francisco
6,Academy of Chinese Culture and Health Sciences,"1601 Clay St, Oakland, California 94612",www.acchs.edu,"4-year, Private not-for-profit",92.0,Private,not-for-profit,0,0,California,Oakland
7,Academy of Oriental Medicine,"2700 W Anderson Ln Ste 204, Austin, Texas 78757",www.aoma.edu,"4-year, Private for-profit",207.0,Private,for-profit,0,0,Texas,Austin
8,Academy of Vocal Arts,"1920 Spruce St, Philadelphia, Pennsylvania 191...",www.avaopera.org,"4-year, Private not-for-profit",27.0,Private,not-for-profit,0,0,Pennsylvania,Philadelphia
9,Acupuncture and Integrative Medicine College-B...,"2550 Shattuck Ave, Berkeley, California 94704",www.aimc.edu,"4-year, Private not-for-profit",181.0,Private,not-for-profit,0,0,California,Berkeley
10,Acupuncture and Massage College,"10506 N Kendall Drive, Miami, Florida 33176",WWW.AMCOLLEGE.edu,"4-year, primarily associate's, Private for-profit",131.0,Private,for-profit,1,1,Florida,Miami
11,Adams State College,"208 Edgemont Blvd, Alamosa, Colorado 81102",www.adams.edu,"4-year, Public",2920.0,Public,None,0,0,Colorado,Alamosa
12,Adelphi University,"South Ave, Garden City, New York 11530-0701",WWW.ADELPHI.EDU,"4-year, Private not-for-profit",8177.0,Private,not-for-profit,0,0,York,Garden City
13,Adler Graduate School,"1550 East 78th Street, Richfield, Minnesota 55423",www.alfredadler.edu,"4-year, Private not-for-profit",274.0,Private,not-for-profit,0,0,Minnesota,Richfield
14,Adler School of Professional Psychology,"65 East Wacker Place, Suite 2100, Chicago, Ill...",www.adler.edu,"4-year, Private not-for-profit",639.0,Private,not-for-profit,0,0,Illinois,Chicago
15,Adrian College,"110 S Madison St, Adrian, Michigan 49221-2575",www.adrian.edu,"4-year, Private not-for-profit",1469.0,Private,not-for-profit,0,0,Michigan,Adrian
16,Agnes Scott College,"141 E. College Ave, Decatur, Georgia 30030-3797",www.agnesscott.edu,"4-year, Private not-for-profit",832.0,Private,not-for-profit,0,0,Georgia,Decatur
17,AI Miami International University of Art and D...,"1501 Biscayne Boulevard, Miami, Florida 33132-...",www.aimiu.aii.edu,"4-year, Private for-profit",3429.0,Private,for-profit,0,0,Florida,Miami
18,AIB College of Business,"2500 Fleur Drive, Des Moines, Iowa 50321-1799",www.aib.edu,"4-year, primarily associate's, Private not-for...",985.0,Private,not-for-profit,1,1,Iowa,Des Moines
19,Air Force Institute of Technology-Graduate Sch...,"2950 Hobson Way-Wright Patterson AFB, Dayton, ...",www.afit.edu,"4-year, Public",773.0,Public,None,0,0,Ohio,Dayton
20,Alabama A & M University,"4900 Meridian St, Normal, Alabama 35762",www.aamu.edu/,"4-year, Public",5124.0,Public,None,0,0,Alabama,Normal
21,Alabama State University,"915 S Jackson Street, Montgomery, Alabama 3610...",www.alasu.edu,"4-year, Public",5695.0,Public,None,0,0,Alabama,Montgomery
22,Alaska Pacific University,"4101 University Dr, Anchorage, Alaska 99508",www.alaskapacific.edu,"4-year, Private not-for-profit",803.0,Private,not-for-profit,0,0,Alaska,Anchorage
23,Albany College of Pharmacy and Health Sciences,"106 New Scotland Avenue, Albany, New York 1220...",www.acp.edu,"4-year, Private not-for-profit",1525.0,Private,not-for-profit,0,0,York,Albany
24,Albany Law School,"80 New Scotland Avenue, Albany, New York 12208",www.albanylaw.edu,"4-year, Private not-for-profit",784.0,Private,not-for-profit,0,0,York,Albany
25,Albany Medical College,"47 New Scotland Ave, Albany, New York 12208-0000",www.amc.edu,"4-year, Private not-for-profit",839.0,Private,not-for-profit,0,0,York,Albany
26,Albany State University,"504 College Dr., Albany, Georgia 31705",www.asurams.edu/,"4-year, Public",4176.0,Public,None,0,0,Georgia,Albany
27,Albertus Magnus College,"700 Prospect St, New Haven, Connecticut 06511-...",www.albertus.edu,"4-year, Private not-for-profit",2129.0,Private,not-for-profit,0,0,Connecticut,New Haven
28,Albion College,"611 E Porter St, Albion, Michigan 49224",www.albion.edu,"4-year, Private not-for-profit",1860.0,Private,not-for-profit,0,0,Michigan,Albion
29,Albright College,"1621 N. 13th St., Reading, Pennsylvania 19612-...",www.albright.edu,"4-year, Private not-for-profit",2305.0,Private,not-for-profit,0,0,Pennsylvania,Reading

In [188]:
c1=df.address.str.split(",").str[-1].head(30)
c2=c1.str.extract('([A-Za-z]+)')
c1

0               Missouri 63501
1                  Texas 79699
2           Georgia 31793-2601
3         Minnesota 55420-1554
4                Florida 32601
5             California 94105
6             California 94612
7                  Texas 78757
8      Pennsylvania 19103-6685
9             California 94704
10               Florida 33176
11              Colorado 81102
12         New York 11530-0701
13             Minnesota 55423
14              Illinois 60601
15         Michigan 49221-2575
16          Georgia 30030-3797
17          Florida 33132-1418
18             Iowa 50321-1799
19             Ohio 45433-7765
20               Alabama 35762
21          Alabama 36101-0271
22                Alaska 99508
23         New York 12208-3492
24              New York 12208
25         New York 12208-0000
26               Georgia 31705
27      Connecticut 06511-1189
28              Michigan 49224
29     Pennsylvania 19612-5234
Name: address, dtype: object

In [184]:
c2

               0
0       Missouri
1          Texas
2        Georgia
3      Minnesota
4        Florida
5     California
6     California
7          Texas
8   Pennsylvania
9     California
10       Florida
11      Colorado
12           New
13     Minnesota
14      Illinois
15      Michigan
16       Georgia
17       Florida
18          Iowa
19          Ohio
20       Alabama
21       Alabama
22        Alaska
23           New
24           New
25           New
26       Georgia
27   Connecticut
28      Michigan
29  Pennsylvania

In [170]:
for char in c1:
    if char.isaplha():
        str.extract()

SyntaxError: invalid syntax (<ipython-input-170-6cdbdbb53ae2>, line 1)

In [180]:
c3=df.address.str.split(",").str[-1]

c4 = []

for char in c3.str.split():
    c3.str.extract('([A-Za-z]+)')
    c4.append(char)

In [182]:
c4

[['Missouri', '63501'],
 ['Texas', '79699'],
 ['Georgia', '31793-2601'],
 ['Minnesota', '55420-1554'],
 ['Florida', '32601'],
 ['California', '94105'],
 ['California', '94612'],
 ['Texas', '78757'],
 ['Pennsylvania', '19103-6685'],
 ['California', '94704'],
 ['Florida', '33176'],
 ['Colorado', '81102'],
 ['New', 'York', '11530-0701'],
 ['Minnesota', '55423'],
 ['Illinois', '60601'],
 ['Michigan', '49221-2575'],
 ['Georgia', '30030-3797'],
 ['Florida', '33132-1418'],
 ['Iowa', '50321-1799'],
 ['Ohio', '45433-7765'],
 ['Alabama', '35762'],
 ['Alabama', '36101-0271'],
 ['Alaska', '99508'],
 ['New', 'York', '12208-3492'],
 ['New', 'York', '12208'],
 ['New', 'York', '12208-0000'],
 ['Georgia', '31705'],
 ['Connecticut', '06511-1189'],
 ['Michigan', '49224'],
 ['Pennsylvania', '19612-5234'],
 ['Mississippi', '39096-7500'],
 ['West', 'Virginia', '26416-2035'],
 ['New', 'York', '14802-1205'],
 ['Kentucky', '41844'],
 ['Pennsylvania', '16335-3902'],
 ['Ohio', '44460-9598'],
 ['Iowa', '50703-1999'],
 ['South', 'Carolina', '29204'],
 ['California', '94133-1221'],
 ['California', '92612-1221'],
 ['California', '95833'],
 ['California', '92131-1799'],
 ['California', '93727-1360'],
 ['California', '91803-1360'],
 ['Michigan', '48801-1599'],
 ['Pennsylvania', '19607-1799'],
 ['Wisconsin', '53234-3922'],
 ['Texas', '75041-5595'],
 ['Minnesota', '55113'],
 ['Illinois', '60604-4302'],
 ['Tennessee', '37207'],
 ['California', '94704-3029'],
 ['Pennsylvania', '19010-2196'],
 ['Texas', '70063-4104'],
 ['California', '94107'],
 ['California', '94108-5834'],
 ['California', '90027-1625'],
 ['Arizona', '85021'],
 ['Florida', '33326'],
 ['Texas', '77042'],
 ['California', '90066'],
 ['Georgia', '30326-1001'],
 ['Illinois', '60192'],
 ['Georgia', '30328'],
 ['Massachusetts', '01109'],
 ['California', '90077-1519'],
 ['New', 'York', '10023'],
 ['West', 'Virginia', '25414'],
 ['American', 'Samoa', '96799-2609'],
 ['District', 'of', 'Columbia', '20016-8001'],
 ['California', '90807'],
 ['Puerto', 'Rico', '00674-1082'],
 ['Puerto', 'Rico', '00960-2037'],
 ['Massachusetts', '01002-5000'],
 ['Alabama', '36117-3553'],
 ['South', 'Carolina', '29621'],
 ['Indiana', '46012-3495'],
 ['Massachusetts', '02459-2243'],
 ['Michigan', '49104'],
 ['Texas', '76909'],
 ['Florida', '32720'],
 ['Massachusetts', '01612-1198'],
 ['Arizona', '85014'],
 ['Ohio', '45387'],
 ['New', 'Hampshire', '03431'],
 ['Ohio', '45387'],
 ['Washington', '98121'],
 ['California', '90230-7615'],
 ['California', '93101-1581'],
 ['North', 'Carolina', '27703'],
 ['Minnesota', '55128-7021'],
 ['West', 'Virginia', '25880'],
 ['Virginia', '24631'],
 ['Virginia', '24614-2825'],
 ['North', 'Carolina', '28608'],
 ['Michigan', '49506-1799'],
 ['Tennessee', '37205'],
 ['Missouri', '63108'],
 ['Pennsylvania', '19038-3295'],
 ['Georgia', '30328'],
 ['Illinois', '60601'],
 ['Texas', '75231'],
 ['Colorado', '80203'],
 ['Hawaii', '96813'],
 ['California', '92408'],
 ['California', '90405'],
 ['Tennessee', '37214'],
 ['California', '92704'],
 ['Arizona', '85021'],
 ['Utah', '84020'],
 ['California', '92108'],
 ['California', '94501'],
 ['Florida', '34235'],
 ['Illinois', '60173-5403'],
 ['Washington', '98121'],
 ['Florida', '33614'],
 ['Minnesota', '55121'],
 ['Virginia', '22209'],
 ['Arizona', '85712'],
 ['Arizona', '85287'],
 ['Arkansas', '72202-6099'],
 ['Arkansas', '72467'],
 ['Arkansas', '72801-2222'],
 ['Texas', '76012-3425'],
 ['Georgia', '31419-1997'],
 ['Ohio', '45202-1706'],
 ['California', '91103'],
 ['Kentucky', '40390-1198'],
 ['Kentucky', '40390-1199'],
 ['Iowa', '52733-2967'],
 ['Ohio', '44805'],
 ['Missouri', '65802-2131'],
 ['Indiana', '46517-1999'],
 ['Massachusetts', '01609-1296'],
 ['Puerto', 'Rico', '00674'],
 ['Ohio', '45230-2091'],
 ['Alabama', '35611'],
 ['Georgia', '30344'],
 ['Puerto', 'Rico', '00970'],
 ['Florida', '33301-3510'],
 ['Massachusetts', '01561-1000'],
 ['Alabama', '36849'],
 ['Alabama', '36117-3596'],
 ['Minnesota', '55454'],
 ['Georgia', '30901-2629'],
 ['Georgia', '30904-2200'],
 ['South', 'Dakota', '57197-0001'],
 ['Illinois', '61201-2296'],
 ['Illinois', '60506-4892'],
 ['Texas', '75090-4400'],
 ['Texas', '78752'],
 ['Tennessee', '37044'],
 ['Texas', '78705-5797'],
 ['Michigan', '48105-2550'],
 ['Florida', '34142'],
 ['Virginia', '24541'],
 ['Virginia', '24541'],
 ['Missouri', '64145-1698'],
 ['California', '91702-7000'],
 ['Massachusetts', '02457-0310'],
 ['Oklahoma', '74403-1597'],
 ['Connecticut', '06901'],
 ['New', 'York', '10952'],
 ['New', 'Jersey', '08701'],
 ['Michigan', '48507'],
 ['Michigan', '48326'],
 ['Michigan', '48101'],
 ['Michigan', '48326-2642'],
 ['Michigan', '49601-9600'],
 ['Michigan', '48035'],
 ['Michigan', '48507-9987'],
 ['Michigan', '49202-1290'],
 ['Michigan', '49442'],
 ['Michigan', '48867'],
 ['Michigan', '48060'],
 ['Kansas', '66006-0065'],
 ['Kansas', '66604-1353'],
 ['Kansas', '66210-1353'],
 ['Ohio', '44017-2088'],
 ['Indiana', '47306'],
 ['Maryland', '21215-3932'],
 ['Maryland', '21202-3230'],
 ['Maine', '04402-0411'],
 ['New', 'York', '10025'],
 ['Missouri', '65803-3498'],
 ['Pennsylvania', '18411'],
 ['Tennessee', '38104'],
 ['Texas', '75766-5407'],
 ['Virginia', '23227-4536'],
 ['Texas', '78224-1336'],
 ['Kansas', '67059-0288'],
 ['New', 'York', '12504-5000'],
 ['Massachusetts', '01230-9702'],
 ['New', 'York', '10027-6598'],
 ['Missouri', '63110'],
 ['Florida', '33161-6695'],
 ['North', 'Carolina', '27893-7000'],
 ['Washington', '98028'],
 ['Maine', '04240'],
 ['Georgia', '30313'],
 ['Massachusetts', '01106'],
 ['Massachusetts', '02116'],
 ['Puerto', 'Rico', '00959'],
 ['Texas', '77030-3498'],
 ['Texas', '76798'],
 ['Florida', '34748'],
 ['Georgia', '31909-4663'],
 ['Massachusetts', '01609-2165'],
 ['Kentucky', '41042'],
 ['New', 'York', '11691'],
 ['Mississippi', '39202'],
 ['Kentucky', '40205-0671'],
 ['Washington', '98007-6484'],
 ['Nebraska', '68005-3098'],
 ['Wisconsin', '54305-3400'],
 ['North', 'Carolina', '28012-1802'],
 ['Tennessee', '37212-3757'],
 ['Wisconsin', '53511-5595'],
 ['Minnesota', '56601'],
 ['South', 'Carolina', '29204-1086'],
 ['Kansas', '66002-1499'],
 ['Illinois', '60532-0900'],
 ['Massachusetts', '02116'],
 ['North', 'Carolina', '27401-3239'],
 ['Vermont', '05201-6003'],
 ['Massachusetts', '02452-4705'],
 ['Kentucky', '40404-2182'],
 ['New', 'York', '10017'],
 ['New', 'Jersey', '07424'],
 ['New', 'York', '10601'],
 ['Massachusetts', '02215'],
 ['Georgia', '30149'],
 ['New', 'York', '11204'],
 ['New', 'York', '11214'],
 ['New', 'Jersey', '08701-2754'],
 ['West', 'Virginia', '26032'],
 ['Kansas', '67456-1897'],
 ['Minnesota', '56001'],
 ['Indiana', '47374-4019'],
 ['California', '95066-2898'],
 ['Tennessee', '38201'],
 ['Kansas', '67117-0531'],
 ['Indiana', '46545'],
 ['Pennsylvania', '19090'],
 ['California', '92115'],
 ['Minnesota', '55112'],
 ['Minnesota', '55112-6902'],
 ['California', '92801'],
 ['Florida', '32114-3099'],
 ['Georgia', '30316'],
 ['Ohio', '43209-2325'],
 ['Pennsylvania', '19440'],
 ['California', '90639-0001'],
 ['Alabama', '35254'],
 ['Oregon', '97266'],
 ['North', 'Dakota', '58506-5587'],
 ['South', 'Dakota', '57799-9500'],
 ['Illinois', '62626'],
 ['Massachusetts', '02493-2699'],
 ['Illinois', '62305-7005'],
 ['New', 'Jersey', '07003'],
 ['Pennsylvania', '17815'],
 ['Mississippi', '38610-9509'],
 ['Virginia', '24605'],
 ['West', 'Virginia', '24701'],
 ['Ohio', '45817-2104'],
 ['South', 'Carolina', '29614-0001'],
 ['Idaho', '83714-1220'],
 ['Idaho', '83725'],
 ['New', 'York', '10032-1560'],
 ['Massachusetts', '02115-2703'],
 ['Massachusetts', '02136-4030'],
 ['Massachusetts', '02467'],
 ['Massachusetts', '02446'],
 ['Massachusetts', '02215'],
 ['Maine', '04011-8448'],
 ['Maryland', '20715-9465'],
 ['Ohio', '44839-9791'],
 ['Ohio', '43403'],
 ['Illinois', '61625-0001'],
 ['Massachusetts', '02454-9110'],
 ['Texas', '77566-3199'],
 ['Georgia', '30501-3668'],
 ['Kentucky', '42301-3023'],
 ['North', 'Carolina', '28712'],
 ['Georgia', '30445'],
 ['Iowa', '51104'],
 ['New', 'York', '11714-3545'],
 ['Connecticut', '06489-1057'],
 ['Virginia', '22812-1599'],
 ['Massachusetts', '02325'],
 ['Utah', '84602'],
 ['Hawaii', '96762-1294'],
 ['Idaho', '83460'],
 ['Texas', '76129'],
 ['New', 'York', '11201'],
 ['California', '93108'],
 ['Minnesota', '55120-1004'],
 ['Indiana', '46805'],
 ['Indiana', '46204'],
 ['Indiana', '46410'],
 ['Florida', '33132'],
 ['Indiana', '46360-7362'],
 ['Indiana', '46617'],
 ['Arizona', '85712'],
 ['Rhode', 'Island', '02912'],
 ['Tennessee', '37321-7000'],
 ['Nebraska', '68506-1299'],
 ['New', 'York', '14228'],
 ['New', 'York', '14203'],
 ['Ohio', '44114-3203'],
 ['Ohio', '44095'],
 ['Wisconsin', '53203-2608'],
 ['Ohio', '44130-3151'],
 ['Virginia', '23235'],
 ['New', 'York', '14127'],
 ['Virginia', '23462'],
 ['Wisconsin', '53226'],
 ['Rhode', 'Island', '02917-1284'],
 ['Pennsylvania', '19009-0717'],
 ['Pennsylvania', '19010'],
 ['Pennsylvania', '17837'],
 ['Iowa', '50588'],
 ['Vermont', '05401'],
 ['Indiana', '46208'],
 ['Pennsylvania', '15214'],
 ['North', 'Carolina', '28025'],
 ['Pennsylvania', '19087-3698'],
 ['New', 'Jersey', '07006-6195'],
 ['California', '92504-3297'],
 ['California', '93703-3599'],
 ['California', '94618-1487'],
 ['California', '92108-3824'],
 ['California', '94103'],
 ['California', '91125'],
 ['California', '91355-2397'],
 ['California', '91360-2787'],
 ['California', '94590'],
 ['California', '93407'],
 ['California', '91768'],
 ['California', '93311-1099'],
 ['California', '93012'],
 ['California', '95929-0150'],
 ['California', '90747-0005'],
 ['California', '94542'],
 ['California', '93740'],
 ['California', '92831-3599'],
 ['California', '90840-0115'],
 ['California', '90032'],
 ['California', '93955-8001'],
 ['California', '91330'],
 ['California', '95819-2694'],
 ['California', '92407-2397'],
 ['California', '92096-0001'],
 ['California', '95382'],
 ['Pennsylvania', '15419-1394'],
 ['California', '92101-3046'],
 ['Indiana', '46394'],
 ['Pennsylvania', '19446-4797'],
 ['Missouri', '64147-1341'],
 ['Michigan', '49546'],
 ['Michigan', '49546-4387'],
 ['Massachusetts', '02138'],
 ['Oklahoma', '73505'],
 ['North', 'Carolina', '27506'],
 ['Kentucky', '42718-2799'],
 ['New', 'York', '14208-1098'],
 ['Minnesota', '55402-3389'],
 ['Ohio', '43209-2394'],
 ['Maryland', '20708'],
 ['Wisconsin', '53217-3985'],
 ['Utah', '84058'],
 ['Puerto', 'Rico', '00959-0493'],
 ['Puerto', 'Rico', '00979'],
 ['Puerto', 'Rico', '00732-7733'],
 ['Puerto', 'Rico', '00964'],
 ['Minnesota', '55057-4001'],
 ['Puerto', 'Rico', '00902-3711'],
 ['Florida', '33172-2209'],
 ['Pennsylvania', '15213-3165'],
 ['Pennsylvania', '15213-3890'],
 ['North', 'Carolina', '27105'],
 ['Montana', '59625-0002'],
 ['Wisconsin', '53186'],
 ['Tennessee', '37760'],
 ['Wisconsin', '53140-1994'],
 ['Oregon', '97216-1515'],
 ['Ohio', '44106'],
 ['Vermont', '05735'],
 ['North', 'Carolina', '28144'],
 ['South', 'Carolina', '29577-1413'],
 ['Illinois', '60615-5698'],
 ['District', 'of', 'Columbia', '20064'],
 ['New', 'York', '13035'],
 ['Pennsylvania', '18104-6196'],
 ['Ohio', '45314-0601'],
 ['New', 'Jersey', '07840'],
 ['Louisiana', '71134-1188'],
 ['Texas', '77098-4151'],
 ['Puerto', 'Rico', '00901'],
 ['Arkansas', '72034'],
 ['Kansas', '66226-3513'],
 ['Missouri', '65803-1033'],
 ['Kansas', '67460-5740'],
 ['Missouri', '65270-1997'],
 ['Iowa', '50219'],
 ['Connecticut', '06050'],
 ['Missouri', '65248-1198'],
 ['Missouri', '65248-1198'],
 ['Michigan', '48859'],
 ['Pennsylvania', '17093-0309'],
 ['Ohio', '45384-1004'],
 ['Washington', '98926-7501'],
 ['New', 'York', '11230'],
 ['Kentucky', '40422-1394'],
 ['Virginia', '23452-7431'],
 ['Nebraska', '69337-2690'],
 ['Illinois', '60101'],
 ['Ohio', '43209'],
 ['Arizona', '85021'],
 ['Missouri', '63139'],
 ['Hawaii', '96816-1578'],
 ['Vermont', '05401'],
 ['Ohio', '44114'],
 ['California', '92866'],
 ['California', '92866'],
 ['California', '90059'],
 ['South', 'Carolina', '29402'],
 ['South', 'Carolina', '29410-8087'],
 ['Alaska', '99508'],
 ['Connecticut', '06053-2142'],
 ['Pennsylvania', '15232'],
 ['New', 'Hampshire', '03036-4331'],
 ['Pennsylvania', '19118-2693'],
 ['Pennsylvania', '19319-0200'],
 ['Illinois', '60654'],
 ['Illinois', '60628-1598'],
 ['Illinois', '60637'],
 ['Florida', '32446-2053'],
 ['North', 'Carolina', '27855'],
 ['New', 'York', '14052-0607'],
 ['Tennessee', '38104'],
 ['Illinois', '60056-2522'],
 ['Indiana', '46208-3301'],
 ['Virginia', '23606'],
 ['California', '94709-1211'],
 ['Tennessee', '37320-3330'],
 ['Ohio', '45204-3200'],
 ['Ohio', '45224-1462'],
 ['South', 'Carolina', '29409'],
 ['Florida', '33156'],
 ['Florida', '33309'],
 ['Florida', '32608'],
 ['California', '91010-3000'],
 ['Washington', '98005'],
 ['South', 'Carolina', '29115-4498'],
 ['California', '91711-6160'],
 ['California', '91711-6400'],
 ['California', '91711-3199'],
 ['Pennsylvania', '16214'],
 ['Georgia', '30314-4391'],
 ['Massachusetts', '01610-1477'],
 ['Iowa', '52001-3198'],
 ['Nebraska', '68131-2739'],
 ['New', 'York', '13699-5557'],
 ['Georgia', '30260-0285'],
 ['Kentucky', '40977-9752'],
 ['Florida', '33759-4595'],
 ['Michigan', '48843-8566'],
 ['Michigan', '48105-2659'],
 ['South', 'Carolina', '29634'],
 ['Kansas', '66210'],
 ['California', '90004-2196'],
 ['Ohio', '44106-1710'],
 ['Ohio', '44106-1776'],
 ['Ohio', '44115-2214'],
 ['South', 'Carolina', '29526'],
 ['Iowa', '52402-5092'],
 ['California', '94089'],
 ['South', 'Carolina', '29550'],
 ['Maine', '04901-8840'],
 ['New', 'Hampshire', '03257-7835'],
 ['Puerto', 'Rico', '00978-0901'],
 ['Puerto', 'Rico', '00928'],
 ['Puerto', 'Rico', '00918'],
 ['California', '92123-1506'],
 ['New', 'York', '14620-2589'],
 ['New', 'York', '13346-1398'],
 ['Wyoming', '82009'],
 ['Colorado', '80909'],
 ['Colorado', '80222'],
 ['Colorado', '80525'],
 ['Michigan', '48202'],
 ['Texas', '77036-3211'],
 ['South', 'Carolina', '29424-0001'],
 ['New', 'York', '10471-1093'],
 ['Ohio', '45233-1670'],
 ['Maryland', '21210-2476'],
 ['Massachusetts', '01013'],
 ['Minnesota', '56374'],
 ['New', 'Jersey', '07960-6989'],
 ['Nebraska', '68106'],
 ['New', 'Mexico', '87505-7634'],
 ['New', 'Mexico', '87110'],
 ['Nevada', '89146-1164'],
 ['Minnesota', '55105'],
 ['Vermont', '05701-3899'],
 ['Maine', '04609'],
 ['Massachusetts', '01610-2395'],
 ['Missouri', '65726-0017'],
 ['Minnesota', '55102-2199'],
 ['Virginia', '23187-8795'],
 ['Arizona', '85281-5206'],
 ['Colorado', '80226'],
 ['Colorado', '80903'],
 ['Colorado', '80401'],
 ['Colorado', '80206'],
 ['Colorado', '80523-0100'],
 ['Colorado', '81001-4901'],
 ['Colorado', '80111-3201'],
 ['Missouri', '64116'],
 ['Colorado', '80907-3812'],
 ['South', 'Dakota', '57108-2272'],
 ['Colorado', '80907'],
 ['Puerto', 'Rico', '00726'],
 ['Puerto', 'Rico', '00698'],
 ['Missouri', '65216'],
 ['South', 'Carolina', '29203'],
 ['Illinois', '60605-1996'],
 ['California', '91356-1411'],
 ['South', 'Carolina', '29203-1513'],
 ['Alabama', '36561'],
 ['Georgia', '30030-4118'],
 ['Maryland', '20912'],
 ['New', 'York', '10027'],
 ['Ohio', '43215'],
 ['Georgia', '31907-5645'],
 ['Missouri', '64433-0502'],
 ['West', 'Virginia', '24712'],
 ['New', 'York', '10708-1998'],
 ['Minnesota', '56562'],
 ['Alabama', '36701'],
 ['Missouri', '63105-3196'],
 ['Indiana', '46825-4996'],
 ['Nebraska', '68434-1556'],
 ['Oregon', '97211-6099'],
 ['Illinois', '60305-1499'],
 ['California', '92612-3299'],
 ['Texas', '78726'],
 ['Michigan', '48105'],
 ['Minnesota', '55104-5494'],
 ['Wisconsin', '53097-2402'],
 ['Connecticut', '06320'],
 ['South', 'Carolina', '29302-0006'],
 ['Massachusetts', '01341-0179'],
 ['New', 'Jersey', '08103'],
 ['New', 'York', '10003-7120'],
 ['Maryland', '21216-3698'],
 ['Oregon', '97317-9392'],
 ['District', 'of', 'Columbia', '20006-4804'],
 ['Iowa', '52314-1098'],
 ['New', 'York', '14853'],
 ['Michigan', '49525-5897'],
 ['Washington', '98121'],
 ['Georgia', '30750-4164'],
 ['Missouri', '63141-8697'],
 ['Missouri', '65802'],
 ['Michigan', '48304'],
 ['Nebraska', '68178'],
 ['Tennessee', '38111-1375'],
 ['Indiana', '46219-4912'],
 ['Minnesota', '55902-2382'],
 ['Arkansas', '72450'],
 ['Minnesota', '55375-9001'],
 ['New', 'York', '12538-1499'],
 ['Missouri', '63435-1299'],
 ['Tennessee', '37087'],
 ['New', 'York', '10010'],
 ['New', 'York', '11210-2889'],
 ['New', 'York', '10031-9101'],
 ['New', 'York', '10314'],
 ['New', 'York', '10016-4309'],
 ['New', 'York', '10065'],
 ['New', 'York', '10019'],
 ['New', 'York', '10468'],
 ['New', 'York', '11225-2010'],
 ['New', 'York', '11201-2983'],
 ['New', 'York', '11367-0904'],
 ['New', 'York', '11367'],
 ['New', 'York', '11451'],
 ['Massachusetts', '02186-2395'],
 ['New', 'York', '14226-3592'],
 ['South', 'Dakota', '57042-1799'],
 ['South', 'Dakota', '57301-4398'],
 ['Texas', '75211-9299'],
 ['Texas', '75234-7299'],
 ['Texas', '75204'],
 ['Georgia', '30720-3797'],
 ['Nebraska', '68008'],
 ['New', 'Hampshire', '03063-1300'],
 ['New', 'York', '11210'],
 ['New', 'Hampshire', '03755-3529'],
 ['Michigan', '49512-9396'],
 ['Michigan', '48801-9069'],
 ['Michigan', '48723-9121'],
 ['Michigan', '48507-9121'],
 ['Michigan', '49503-9121'],
 ['Michigan', '49423-9121'],
 ['Michigan', '49006-2791'],
 ['Michigan', '48933-2197'],
 ['Michigan', '48152-9069'],
 ['Indiana', '46410-6128'],
 ['Michigan', '48642-3799'],
 ['Michigan', '48604-9069'],
 ['Indiana', '46530-9069'],
 ['Michigan', '49684-9121'],
 ['Michigan', '48092-5209'],
 ['North', 'Carolina', '28035'],
 ['West', 'Virginia', '26241-3996'],
 ['New', 'York', '13790-2712'],
 ['Florida', '32114'],
 ['Massachusetts', '02038-1941'],
 ['Ohio', '43512'],
 ['Delaware', '19901'],
 ['Pennsylvania', '18901-2697'],
 ['California', '95525-0816'],
 ['Mississippi', '38733'],
 ['Ohio', '43023-0713'],
 ['Colorado', '80120'],
 ['Illinois', '60604'],
 ['Indiana', '46135-1772'],
 ['Iowa', '50312'],
 ['Pennsylvania', '18034-9568'],
 ['California', '92121'],
 ['New', 'York', '11101-3051'],
 ['Arizona', '85021-2995'],
 ['California', '91768-2642'],
 ['Colorado', '80234-2010'],
 ['Florida', '33027'],
 ['Georgia', '30030-2198'],
 ['Illinois', '60618'],
 ['Indiana', '46240'],
 ['Kentucky', '40223'],
 ['Maryland', '20814-3304'],
 ['Michigan', '48076'],
 ['Minnesota', '55426'],
 ['Missouri', '64131-3626'],
 ['Nevada', '89074-7120'],
 ['New', 'Jersey', '08902-3362'],
 ['North', 'Carolina', '28211-3627'],
 ['Ohio', '43209-2705'],
 ['Oklahoma', '73116'],
 ['Oregon', '97225-6651'],
 ['Pennsylvania', '19034-3204'],
 ['Tennessee', '38119'],
 ['Texas', '75063-2439'],
 ['Utah', '84070'],
 ['Virginia', '22202-3843'],
 ['Washington', '98001-9558'],
 ['Wisconsin', '53202'],
 ['Pennsylvania', '17013-2896'],
 ['North', 'Dakota', '58601-4896'],
 ['Washington', '98052'],
 ['Florida', '33431'],
 ['Louisiana', '70122'],
 ['Iowa', '52045'],
 ['Utah', '84770-3876'],
 ['Nebraska', '68333'],
 ['Nebraska', '68504'],
 ['New', 'York', '10962-1210'],
 ['District', 'of', 'Columbia', '20017-1585'],
 ['California', '94708-1816'],
 ['Illinois', '60305'],
 ['California', '94901-2298'],
 ['California', '90020-1704'],
 ['Kansas', '66102'],
 ['Iowa', '51250-1697'],
 ['New', 'York', '11769-1999'],
 ['Florida', '32601'],
 ['Iowa', '50311-4505'],
 ['New', 'Jersey', '07940'],
 ['Pennsylvania', '19104'],
 ['Missouri', '65802-3791'],
 ['North', 'Carolina', '27708'],
 ['Minnesota', '55403-1192'],
 ['Pennsylvania', '15282'],
 ['New', 'York', '14201-1084'],
 ['Utah', '84041'],
 ['Utah', '84123-6965'],
 ['Indiana', '47374-4095'],
 ['North', 'Carolina', '27858-4353'],
 ['Oklahoma', '74820-6899'],
 ['Pennsylvania', '18301-2999'],
 ['Tennessee', '37614-0000'],
 ['Texas', '75670-1498'],
 ['Florida', '34234-0000'],
 ['Connecticut', '06226'],
 ['Illinois', '61920'],
 ['Kentucky', '40475-3102'],
 ['Virginia', '22802-2462'],
 ['Michigan', '48197'],
 ['Massachusetts', '02170-2999'],
 ['New', 'Mexico', '88130'],
 ['Oregon', '97850'],
 ['Pennsylvania', '19087-3696'],
 ['Virginia', '23507'],
 ['Washington', '99004-2496'],
 ['Illinois', '60605'],
 ['Arkansas', '72762'],
 ['Florida', '33711-4700'],
 ['Virginia', '23462'],
 ['Virginia', '24012'],
 ['Virginia', '23236'],

In [231]:
s1=df.address.str.split(",").str[-1]
s2=s1.str.rsplit(" ",n=1, expand=True)
s2.head(30)
df['state']=s2[0]
df.head(30)

,name,address,Website,Type,Size,Private_or_Public,Profit,Primarily,primarily_associates,state,city
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Private,not-for-profit,0,0,Missouri,Kirksville
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Private,not-for-profit,0,0,Texas,Abilene
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Public,None,1,1,Georgia,Tifton
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Private,for-profit,1,1,Minnesota,Minneapolis
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Private,not-for-profit,0,0,Florida,Gainesville
5,Academy of Art University,"79 New Montgomery, San Francisco, California 9...",www.academyart.edu,"4-year, Private for-profit",13181.0,Private,for-profit,0,0,California,San Francisco
6,Academy of Chinese Culture and Health Sciences,"1601 Clay St, Oakland, California 94612",www.acchs.edu,"4-year, Private not-for-profit",92.0,Private,not-for-profit,0,0,California,Oakland
7,Academy of Oriental Medicine,"2700 W Anderson Ln Ste 204, Austin, Texas 78757",www.aoma.edu,"4-year, Private for-profit",207.0,Private,for-profit,0,0,Texas,Austin
8,Academy of Vocal Arts,"1920 Spruce St, Philadelphia, Pennsylvania 191...",www.avaopera.org,"4-year, Private not-for-profit",27.0,Private,not-for-profit,0,0,Pennsylvania,Philadelphia
9,Acupuncture and Integrative Medicine College-B...,"2550 Shattuck Ave, Berkeley, California 94704",www.aimc.edu,"4-year, Private not-for-profit",181.0,Private,not-for-profit,0,0,California,Berkeley
10,Acupuncture and Massage College,"10506 N Kendall Drive, Miami, Florida 33176",WWW.AMCOLLEGE.edu,"4-year, primarily associate's, Private for-profit",131.0,Private,for-profit,1,1,Florida,Miami
11,Adams State College,"208 Edgemont Blvd, Alamosa, Colorado 81102",www.adams.edu,"4-year, Public",2920.0,Public,None,0,0,Colorado,Alamosa
12,Adelphi University,"South Ave, Garden City, New York 11530-0701",WWW.ADELPHI.EDU,"4-year, Private not-for-profit",8177.0,Private,not-for-profit,0,0,New York,Garden City
13,Adler Graduate School,"1550 East 78th Street, Richfield, Minnesota 55423",www.alfredadler.edu,"4-year, Private not-for-profit",274.0,Private,not-for-profit,0,0,Minnesota,Richfield
14,Adler School of Professional Psychology,"65 East Wacker Place, Suite 2100, Chicago, Ill...",www.adler.edu,"4-year, Private not-for-profit",639.0,Private,not-for-profit,0,0,Illinois,Chicago
15,Adrian College,"110 S Madison St, Adrian, Michigan 49221-2575",www.adrian.edu,"4-year, Private not-for-profit",1469.0,Private,not-for-profit,0,0,Michigan,Adrian
16,Agnes Scott College,"141 E. College Ave, Decatur, Georgia 30030-3797",www.agnesscott.edu,"4-year, Private not-for-profit",832.0,Private,not-for-profit,0,0,Georgia,Decatur
17,AI Miami International University of Art and D...,"1501 Biscayne Boulevard, Miami, Florida 33132-...",www.aimiu.aii.edu,"4-year, Private for-profit",3429.0,Private,for-profit,0,0,Florida,Miami
18,AIB College of Business,"2500 Fleur Drive, Des Moines, Iowa 50321-1799",www.aib.edu,"4-year, primarily associate's, Private not-for...",985.0,Private,not-for-profit,1,1,Iowa,Des Moines
19,Air Force Institute of Technology-Graduate Sch...,"2950 Hobson Way-Wright Patterson AFB, Dayton, ...",www.afit.edu,"4-year, Public",773.0,Public,None,0,0,Ohio,Dayton
20,Alabama A & M University,"4900 Meridian St, Normal, Alabama 35762",www.aamu.edu/,"4-year, Public",5124.0,Public,None,0,0,Alabama,Normal
21,Alabama State University,"915 S Jackson Street, Montgomery, Alabama 3610...",www.alasu.edu,"4-year, Public",5695.0,Public,None,0,0,Alabama,Montgomery
22,Alaska Pacific University,"4101 University Dr, Anchorage, Alaska 99508",www.alaskapacific.edu,"4-year, Private not-for-profit",803.0,Private,not-for-profit,0,0,Alaska,Anchorage
23,Albany College of Pharmacy and Health Sciences,"106 New Scotland Avenue, Albany, New York 1220...",www.acp.edu,"4-year, Private not-for-profit",1525.0,Private,not-for-profit,0,0,New York,Albany
24,Albany Law School,"80 New Scotland Avenue, Albany, New York 12208",www.albanylaw.edu,"4-year, Private not-for-profit",784.0,Private,not-for-profit,0,0,New York,Albany
25,Albany Medical College,"47 New Scotland Ave, Albany, New York 12208-0000",www.amc.edu,"4-year, Private not-for-profit",839.0,Private,not-for-profit,0,0,New York,Albany
26,Albany State University,"504 College Dr., Albany, Georgia 31705",www.asurams.edu/,"4-year, Public",4176.0,Public,None,0,0,Georgia,Albany
27,Albertus Magnus College,"700 Prospect St, New Haven, Connecticut 06511-...",www.albertus.edu,"4-year, Private not-for-profit",2129.0,Private,not-for-profit,0,0,Connecticut,New Haven
28,Albion College,"611 E Porter St, Albion, Michigan 49224",www.albion.edu,"4-year, Private not-for-profit",1860.0,Private,not-for-profit,0,0,Michigan,Albion
29,Albright College,"1621 N. 13th St., Reading, Pennsylvania 19612-...",www.albright.edu,"4-year, Private not-for-profit",2305.0,Private,not-for-profit,0,0,Pennsylvania,Reading

In [199]:
c1.str.split(" ", expand=True).str[-1]

AttributeError: 'DataFrame' object has no attribute 'str'

0          63501
1          79699
2     31793-2601
3     55420-1554
4          32601
5          94105
6          94612
7          78757
8     19103-6685
9          94704
10         33176
11         81102
12    11530-0701
13         55423
14         60601
15    49221-2575
16    30030-3797
17    33132-1418
18    50321-1799
19    45433-7765
20         35762
21    36101-0271
22         99508
23    12208-3492
24         12208
25    12208-0000
26         31705
27    06511-1189
28         49224
29    19612-5234
Name: address, dtype: object

In [202]:
c1.str.split(",", expand=True)

AttributeError: 'DataFrame' object has no attribute 'str'

In [227]:
c1=df.address.str.split(",")
c2=c1[2].str.rsplit(" ",n=1, expand=True)
c2.head(30)
c1

KeyError: -1

In [210]:
c1

,0,1,2,3,4,5
0,800 W Jefferson,Kirksville,Missouri 63501,None,None,None
1,1600 Campus Court,Abilene,Texas 79699,None,None,None
2,2802 Moore Hwy,Tifton,Georgia 31793-2601,None,None,None
3,1101 E. 78th Street,Suite 100,Minneapolis,Minnesota 55420-1554,None,None
4,305 SE 2nd Ave,Gainesville,Florida 32601,None,None,None
...,...,...,...,...,...,...
2902,13315 W. Washington Boulevard,Los Angeles,California 90066,None,None,None
2903,1125 E 8th St,York,Nebraska 68467-2699,None,None,None
2904,Country Club Rd,York,Pennsylvania 17403-3651,None,None,None
2905,One University Plaza,Youngstown,Ohio 44555-0001,None,None,None
2906,320 South Main Street,Haverhill,Massachusetts 01835,None,None,None

In [208]:
c2=c1.str.split(" ").str[1]
c.head(30)

0            Missouri
1               Texas
2             Georgia
3           Minnesota
4             Florida
            ...
2902       California
2903         Nebraska
2904     Pennsylvania
2905             Ohio
2906    Massachusetts
Name: address, Length: 2907, dtype: object

In [206]:
c2.head(30)

0         Missouri
1            Texas
2          Georgia
3        Minnesota
4          Florida
5       California
6       California
7            Texas
8     Pennsylvania
9       California
10         Florida
11        Colorado
12             New
13       Minnesota
14        Illinois
15        Michigan
16         Georgia
17         Florida
18            Iowa
19            Ohio
20         Alabama
21         Alabama
22          Alaska
23             New
24             New
25             New
26         Georgia
27     Connecticut
28        Michigan
29    Pennsylvania
Name: address, dtype: object

In [225]:
df

,name,address,Website,Type,Size,Private_or_Public,Profit,Primarily,primarily_associates,state,city
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Private,not-for-profit,0,0,Missouri,Kirksville
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Private,not-for-profit,0,0,Texas,Abilene
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Public,None,1,1,Georgia,Tifton
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Private,for-profit,1,1,,Minneapolis
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Private,not-for-profit,0,0,Florida,Gainesville
...,...,...,...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,Private,not-for-profit,0,0,California,Los Angeles
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,Private,not-for-profit,0,0,Nebraska,York
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,Private,not-for-profit,0,0,Pennsylvania,York
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,Public,None,0,0,Ohio,Youngstown
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,Private,not-for-profit,0,0,Massachusetts,Haverhill