In [1]:
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('~/GalvanizeJupyter/universities.csv')

In [3]:
df

,name,address,Website,Type,Size
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0
...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0

In [4]:
df.describe()

               Size
count    2829.00000
mean     4374.88123
std      9256.38326
min         4.00000
25%       493.00000
50%      1478.00000
75%      4064.00000
max    301323.00000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2907 entries, 0 to 2906
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     2907 non-null   object
 1   address  2907 non-null   object
 2   Website  2822 non-null   object
 3   Type     2907 non-null   object
 4   Size     2829 non-null   float64
dtypes: float64(1), object(4)
memory usage: 113.7+ KB

In [6]:
df.columns

Index(['name', 'address', 'Website', 'Type', 'Size'], dtype='object')

In [7]:
df.shape

(2907, 5)

In [8]:
df.iloc[3]

name                                         Academy College
address    1101 E. 78th Street, Suite 100, Minneapolis, M...
Website                               www.academycollege.edu
Type       4-year, primarily associate's, Private for-profit
Size                                                     165
Name: 3, dtype: object

## find both the mean and median size by each university type (as given in the dataframe), ordered by average size in ascending order.

In [9]:
df.groupby('Type')['Size'].mean().sort_values()

Type
4-year, primarily associate's, Private for-profit          934.380597
4-year, primarily associate's, Private not-for-profit     1129.413793
4-year, Private not-for-profit                            2399.885696
4-year, Private for-profit                                3504.501859
4-year, primarily associate's, Public                     6889.366197
4-year, Public                                           11478.913765
Name: Size, dtype: float64

In [10]:
df.groupby('Type')['Size'].median().sort_values()

Type
4-year, primarily associate's, Private for-profit         564.5
4-year, Private for-profit                                730.0
4-year, primarily associate's, Private not-for-profit     768.0
4-year, Private not-for-profit                           1206.0
4-year, primarily associate's, Public                    3558.0
4-year, Public                                           7669.0
Name: Size, dtype: float64

## Make new columns  in the dataframe from existing data for the following attributes:
#City
#State
#ZipCode
#Private or Public
#for-profit or not-for-profit
#primarily associate's (1 for Yes, 0 for No)

#city column

In [11]:
#df.address.str.split(",", n=1,expand=True,)

In [12]:
#create city column test 1
#city=df.address.str.split(",").str[1]
#df['city']=city

In [13]:
#create city column test 2 final
c=df.address.str.split(",").str[-2]
df['city']=c
df
#city is between two commas second from the right?

,name,address,Website,Type,Size,city
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Kirksville
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Abilene
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Tifton
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Minneapolis
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Gainesville
...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,Los Angeles
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,York
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,York
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,Youngstown
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,Haverhill

#state column

In [14]:
#create state column test 1
#state=df.address.str.split(",").str[1]
#df['state']=state

#df.address.str.split(",")
#s=df.address.str.split(",", n=1,expand=True,)
#s=df.address.str.split(",").str[2]
#s=df.address.str.split(" ").str[4]
#s

In [15]:
#create state column test 2
#s1=df.address.str.split(",").str[2]
#s2=s1.str.split(" ").str[1]
#df['state']=s2
#df

In [16]:
# create state column test 3 
#s1=df.address.str.split(" ").str[-2]
#state is between 2 spaces from the right?
#s2=s1.str.split(",").str[-1]
#df['state']=s1
#df

In [17]:
#create state column test 4 final
s1=df.address.str.split(",").str[-1]
s2=s1.str.rsplit(" ",n=1, expand=True)
s2.head(30)
df['state']=s2[0]
df.head(30)

,name,address,Website,Type,Size,city,state
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Kirksville,Missouri
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Abilene,Texas
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Tifton,Georgia
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Minneapolis,Minnesota
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Gainesville,Florida
5,Academy of Art University,"79 New Montgomery, San Francisco, California 9...",www.academyart.edu,"4-year, Private for-profit",13181.0,San Francisco,California
6,Academy of Chinese Culture and Health Sciences,"1601 Clay St, Oakland, California 94612",www.acchs.edu,"4-year, Private not-for-profit",92.0,Oakland,California
7,Academy of Oriental Medicine,"2700 W Anderson Ln Ste 204, Austin, Texas 78757",www.aoma.edu,"4-year, Private for-profit",207.0,Austin,Texas
8,Academy of Vocal Arts,"1920 Spruce St, Philadelphia, Pennsylvania 191...",www.avaopera.org,"4-year, Private not-for-profit",27.0,Philadelphia,Pennsylvania
9,Acupuncture and Integrative Medicine College-B...,"2550 Shattuck Ave, Berkeley, California 94704",www.aimc.edu,"4-year, Private not-for-profit",181.0,Berkeley,California
10,Acupuncture and Massage College,"10506 N Kendall Drive, Miami, Florida 33176",WWW.AMCOLLEGE.edu,"4-year, primarily associate's, Private for-profit",131.0,Miami,Florida
11,Adams State College,"208 Edgemont Blvd, Alamosa, Colorado 81102",www.adams.edu,"4-year, Public",2920.0,Alamosa,Colorado
12,Adelphi University,"South Ave, Garden City, New York 11530-0701",WWW.ADELPHI.EDU,"4-year, Private not-for-profit",8177.0,Garden City,New York
13,Adler Graduate School,"1550 East 78th Street, Richfield, Minnesota 55423",www.alfredadler.edu,"4-year, Private not-for-profit",274.0,Richfield,Minnesota
14,Adler School of Professional Psychology,"65 East Wacker Place, Suite 2100, Chicago, Ill...",www.adler.edu,"4-year, Private not-for-profit",639.0,Chicago,Illinois
15,Adrian College,"110 S Madison St, Adrian, Michigan 49221-2575",www.adrian.edu,"4-year, Private not-for-profit",1469.0,Adrian,Michigan
16,Agnes Scott College,"141 E. College Ave, Decatur, Georgia 30030-3797",www.agnesscott.edu,"4-year, Private not-for-profit",832.0,Decatur,Georgia
17,AI Miami International University of Art and D...,"1501 Biscayne Boulevard, Miami, Florida 33132-...",www.aimiu.aii.edu,"4-year, Private for-profit",3429.0,Miami,Florida
18,AIB College of Business,"2500 Fleur Drive, Des Moines, Iowa 50321-1799",www.aib.edu,"4-year, primarily associate's, Private not-for...",985.0,Des Moines,Iowa
19,Air Force Institute of Technology-Graduate Sch...,"2950 Hobson Way-Wright Patterson AFB, Dayton, ...",www.afit.edu,"4-year, Public",773.0,Dayton,Ohio
20,Alabama A & M University,"4900 Meridian St, Normal, Alabama 35762",www.aamu.edu/,"4-year, Public",5124.0,Normal,Alabama
21,Alabama State University,"915 S Jackson Street, Montgomery, Alabama 3610...",www.alasu.edu,"4-year, Public",5695.0,Montgomery,Alabama
22,Alaska Pacific University,"4101 University Dr, Anchorage, Alaska 99508",www.alaskapacific.edu,"4-year, Private not-for-profit",803.0,Anchorage,Alaska
23,Albany College of Pharmacy and Health Sciences,"106 New Scotland Avenue, Albany, New York 1220...",www.acp.edu,"4-year, Private not-for-profit",1525.0,Albany,New York
24,Albany Law School,"80 New Scotland Avenue, Albany, New York 12208",www.albanylaw.edu,"4-year, Private not-for-profit",784.0,Albany,New York
25,Albany Medical College,"47 New Scotland Ave, Albany, New York 12208-0000",www.amc.edu,"4-year, Private not-for-profit",839.0,Albany,New York
26,Albany State University,"504 College Dr., Albany, Georgia 31705",www.asurams.edu/,"4-year, Public",4176.0,Albany,Georgia
27,Albertus Magnus College,"700 Prospect St, New Haven, Connecticut 06511-...",www.albertus.edu,"4-year, Private not-for-profit",2129.0,New Haven,Connecticut
28,Albion College,"611 E Porter St, Albion, Michigan 49224",www.albion.edu,"4-year, Private not-for-profit",1860.0,Albion,Michigan
29,Albright College,"1621 N. 13th St., Reading, Pennsylvania 19612-...",www.albright.edu,"4-year, Private not-for-profit",2305.0,Reading,Pennsylvania

In [18]:
df.state.head(30)

0          Missouri
1             Texas
2           Georgia
3         Minnesota
4           Florida
5        California
6        California
7             Texas
8      Pennsylvania
9        California
10          Florida
11         Colorado
12         New York
13        Minnesota
14         Illinois
15         Michigan
16          Georgia
17          Florida
18             Iowa
19             Ohio
20          Alabama
21          Alabama
22           Alaska
23         New York
24         New York
25         New York
26          Georgia
27      Connecticut
28         Michigan
29     Pennsylvania
Name: state, dtype: object

#zipcode column

In [19]:
#create zipcode test 1
#s1
#z=s1.str.split(" ").str[2]
#z
#df['zipcode']=z
#df

In [20]:
#create zipcode test 2 final

z=df.address.str.split(" ").str[-1]
df['zipcode']=z
df
#zipcode is one space from the right

,name,address,Website,Type,Size,city,state,zipcode
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Kirksville,Missouri,63501
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Abilene,Texas,79699
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Tifton,Georgia,31793-2601
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Minneapolis,Minnesota,55420-1554
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Gainesville,Florida,32601
...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,Los Angeles,California,90066
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,York,Nebraska,68467-2699
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,York,Pennsylvania,17403-3651
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,Youngstown,Ohio,44555-0001
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,Haverhill,Massachusetts,01835

#private or public column

In [21]:
#create private or public column test 1
#df.iloc[:,3].head(10)
#df.iloc[:,3].tail(10)
#df.Type.str.split(" ").str[-1]

In [22]:
#create private or public column test 2 final

df['Private_or_Public'] = ["Private" if x ==True else "Public" for x in df.Type.str.contains('Private')]
df

,name,address,Website,Type,Size,city,state,zipcode,Private_or_Public
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Kirksville,Missouri,63501,Private
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Abilene,Texas,79699,Private
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Tifton,Georgia,31793-2601,Public
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Minneapolis,Minnesota,55420-1554,Private
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Gainesville,Florida,32601,Private
...,...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,Los Angeles,California,90066,Private
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,York,Nebraska,68467-2699,Private
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,York,Pennsylvania,17403-3651,Private
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,Youngstown,Ohio,44555-0001,Public
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,Haverhill,Massachusetts,01835,Private

#for profit or not for profit column

In [23]:
#create for profit or not for profit column test 1
#df.iloc[:,3].head(30)
#df['Profit'] = ["not-for-profit" if x ==True else None for x in df.Type.str.contains('not-for-profit')]
#df
#df['Profit'] = ["not-for-profit" if x ==True else None for x in df.Type.str.contains('not-for-profit')]
#df
#df['Profit'] = ["for-profit" if x ==True else None for x in df.Type.str.contains('for-profit')]
#above doesnt work because it overwrites not for profit since not for profit contains the words for profit

In [24]:
#create profit columnn test 2 final
def conditions(p):
    if 'not-for-profit' in p.Type:
        return "not-for-profit"
    elif ' for-profit' in p.Type:    
        return "for-profit"
    else:
        pass

In [25]:
df['Profit'] = df.apply(conditions, axis=1)
df

,name,address,Website,Type,Size,city,state,zipcode,Private_or_Public,Profit
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Kirksville,Missouri,63501,Private,not-for-profit
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Abilene,Texas,79699,Private,not-for-profit
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Tifton,Georgia,31793-2601,Public,None
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Minneapolis,Minnesota,55420-1554,Private,for-profit
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Gainesville,Florida,32601,Private,not-for-profit
...,...,...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,Los Angeles,California,90066,Private,not-for-profit
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,York,Nebraska,68467-2699,Private,not-for-profit
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,York,Pennsylvania,17403-3651,Private,not-for-profit
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,Youngstown,Ohio,44555-0001,Public,None
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,Haverhill,Massachusetts,01835,Private,not-for-profit

#primarily assc column

In [26]:
#primarily assc column

df['primarily_associates'] = [1 if x ==True else 0 for x in df.Type.str.contains('primarily associate')]
df

,name,address,Website,Type,Size,city,state,zipcode,Private_or_Public,Profit,primarily_associates
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Kirksville,Missouri,63501,Private,not-for-profit,0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,Abilene,Texas,79699,Private,not-for-profit,0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,Tifton,Georgia,31793-2601,Public,None,1
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Minneapolis,Minnesota,55420-1554,Private,for-profit,1
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Gainesville,Florida,32601,Private,not-for-profit,0
...,...,...,...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,Los Angeles,California,90066,Private,not-for-profit,0
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,York,Nebraska,68467-2699,Private,not-for-profit,0
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,York,Pennsylvania,17403-3651,Private,not-for-profit,0
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,Youngstown,Ohio,44555-0001,Public,None,0
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,Haverhill,Massachusetts,01835,Private,not-for-profit,0

## Using the new columns you've made above (and excluding the original type column), find both the mean and median size of each university by State, by Private or Public, and by whether the university is primarily associate's or not.

In [27]:
df.groupby(['state','Private_or_Public','primarily_associates'])['Size'].mean()

state       Private_or_Public  primarily_associates
 Alabama    Private            0                        2629.750000
                               1                        1078.250000
            Public             0                       11537.928571
 Alaska     Private            0                         803.000000
                               1                         747.000000
                                                           ...
 Wisconsin  Private            1                         963.333333
            Public             0                       12603.357143
 Wyoming    Private            0                          12.000000
                               1                         146.000000
            Public             0                       12067.000000
Name: Size, Length: 178, dtype: float64

In [35]:
df.groupby(['state','Private_or_Public','primarily_associates'])['Size'].median()

state       Private_or_Public  primarily_associates
 Alabama    Private            0                        1065.0
                               1                         550.5
            Public             0                        7317.0
 Alaska     Private            0                         803.0
                               1                         747.0
                                                        ...
 Wisconsin  Private            1                         921.5
            Public             0                        9521.5
 Wyoming    Private            0                          12.0
                               1                         146.0
            Public             0                       12067.0
Name: Size, Length: 178, dtype: float64

In [28]:
df.groupby('state')['Size'].mean()

state
 Alabama                  5303.619048
 Alaska                   5945.600000
 American Samoa           1806.000000
 Arizona                 12079.121951
 Arkansas                 3967.692308
 California               4347.544681
 Colorado                 4853.040816
 Connecticut              3861.323529
 Delaware                 6325.000000
 District of Columbia     7423.588235
 Florida                  5649.072000
 Georgia                  4305.129870
 Guam                     1768.000000
 Hawaii                   3375.153846
 Idaho                    6059.727273
 Illinois                 4187.118644
 Indiana                  4182.381579
 Iowa                     4223.212766
 Kansas                   3489.400000
 Kentucky                 3736.295455
 Louisiana                5419.968750
 Maine                    2562.450000
 Maryland                 5188.487805
 Massachusetts            3836.343434
 Michigan                 5675.246575
 Minnesota                3746.960526
 Mississippi              4262.550000
 Missouri                 3380.482759
 Montana                  3795.100000
 Nebraska                 2882.466667
 Nevada                   6981.333333
 New Hampshire            2784.000000
 New Jersey               5692.767442
 New Mexico               3163.666667
 New York                 3995.597403
 North Carolina           4394.628571
 North Dakota             2981.000000
 Northern Marianas         791.000000
 Ohio                     3991.531532
 Oklahoma                 3742.526316
 Oregon                   3104.125000
 Pennsylvania             3506.012270
 Puerto Rico              3356.180328
 Rhode Island             6004.272727
 South Carolina           3184.886364
 South Dakota             2492.611111
 Tennessee                3021.971831
 Texas                    6175.318966
 Utah                     6375.962963
 Vermont                  1596.869565
 Virgin Islands           2393.000000
 Virginia                 4413.916667
 Washington               4355.295455
 West Virginia            4288.916667
 Wisconsin                4646.169811
 Wyoming                  4075.000000
Name: Size, dtype: float64

In [29]:
df.groupby('state')['Size'].median()

state
 Alabama                 1693.0
 Alaska                  2954.0
 American Samoa          1806.0
 Arizona                 1059.0
 Arkansas                1755.0
 California               918.0
 Colorado                1308.0
 Connecticut             1957.0
 Delaware                2883.5
 District of Columbia    1389.0
 Florida                 1184.0
 Georgia                 1987.0
 Guam                    1768.0
 Hawaii                  1140.0
 Idaho                   1939.0
 Illinois                1277.0
 Indiana                 1286.0
 Iowa                    1361.0
 Kansas                   634.0
 Kentucky                1485.0
 Louisiana               3048.5
 Maine                   1589.0
 Maryland                2079.0
 Massachusetts           1697.0
 Michigan                2440.0
 Minnesota                999.5
 Mississippi             2492.0
 Missouri                 889.0
 Montana                 1313.0
 Nebraska                 904.0
 Nevada                  1301.0
 New Hampshire           1542.0
 New Jersey              3465.0
 New Mexico               618.0
 New York                1626.0
 North Carolina          1474.0
 North Dakota            1019.0
 Northern Marianas        791.0
 Ohio                    1673.0
 Oklahoma                1919.0
 Oregon                  1152.0
 Pennsylvania            2040.0
 Puerto Rico             1724.0
 Rhode Island            4609.0
 South Carolina          1637.5
 South Dakota            1560.0
 Tennessee                940.0
 Texas                   2576.0
 Utah                     646.0
 Vermont                  731.0
 Virgin Islands          2393.0
 Virginia                1239.0
 Washington              1558.5
 West Virginia           1439.0
 Wisconsin               2102.0
 Wyoming                  146.0
Name: Size, dtype: float64

In [30]:
df.groupby('Private_or_Public')['Size'].mean()

Private_or_Public
Private     2304.226914
Public     10995.445104
Name: Size, dtype: float64

In [31]:
df.groupby('Private_or_Public')['Size'].median()

Private_or_Public
Private     948.0
Public     7081.0
Name: Size, dtype: float64

In [32]:
df.groupby('primarily_associates')['Size'].mean()

primarily_associates
0    4801.798169
1    1966.708920
Name: Size, dtype: float64

In [33]:
df.groupby('primarily_associates')['Size'].median()

primarily_associates
0    1727.0
1     716.0
Name: Size, dtype: float64

## Use the tools you've learned to compute at **least** one other aggregate from the dataset

In [34]:
#mask=df.Private_or_Public
#df.Private_or_Public.count()

df[df['Private_or_Public']=="Public"].name.count()

689

## Save the updated dataframe as a csv  (using the pandas to_csv method) and commit your files, and push up to github.